/blob.png
/coin.png
/dirt.png
/download.png
/exit.png
/exit_btn.png
/game2(3).py
/game2.py
/game_over.wav
/ghost.png
/grass.png
/img_coin.wav
/jump.wav
/lava.png
/Level_2.py
/Level_3.py
/Level_4.py
/Level_5.py
/Level_6.py
/Level_7.py
/load_btn.png
/lvl1.py
/music.wav
/Quote of the day.py
/restart_btn.png
/save_btn.png
/start_btn.png
/sun.png
/Trivia.py
/Weather.py
/Websites with python using flask
/Websties